/* ========VARIABLES======== */
:root {
  --main-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --tertiary-text-color: #f4f4fd;
  --main-background-color: #fff;
  --main-font: 16px;
  --main-line-height: 1.5;
  --main-color-icon: #4d5ae5;

  --main-text-color-hover-focus: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: var(--main-font);
  background-color: var(--main-background-color);
  line-height: var(--main-line-height);
  max-height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  color: var(--main-text-color-hover-focus);
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}

/* ========Tablet======== */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 768px;
  }
}

/* ========Desktop======== */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}

/* =======================================HEADER============================== */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

/* ========Tablet======== */
@media screen and (min-width: 768px) {
  .header .container {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-accent-span {
  color: var(--main-text-color);
}

.header-menu {
  display: none;
  gap: 40px;
  padding-left: 0;
}

/* ========Tablet======== */
@media screen and (min-width: 768px) {
  .header-menu {
    display: flex;
  }
}

.header-menu-item {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.header-menu-link {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  padding: 24px 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link.current {
  position: relative;
  color: #404bbf;
}

.header-menu-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  bottom: -1px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-info {
  display: none;
  font-style: normal;
}

.contact_list {
  display: flex;
  gap: 40px;
  padding-left: 0;
}

/* ========Tablet======== */
@media screen and (min-width: 768px) {
  .contact-info {
    display: flex;
    /* justify-content: flex-end;
    flex-grow: 1; */
  }
  .contact_list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 16px;
    max-width: 340px;
    justify-content: flex-end;
  }
}

/* ========Desktop======== */
@media screen and (min-width: 1158px) {
  .contact-info {
    display: flex;
  }
}

.contact_link {
  display: inline-block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact_list li:nth-child(1) .contact_link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-button {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
}

/* .mobile-menu-button-svg {
} */

/* ========Tablet======== */
@media screen and (min-width: 768px) {
  .mobile-menu-button {
    display: none;
  }
}

/* ========Desktop======== */
@media screen and (min-width: 1158px) {
  .mobile-menu-button {
    display: none;
  }
}

/* ========HERO SECTION======== */
.main-hero {
  margin: 0 auto;
  padding: 72px 0;
  background-color: var(--main-text-color);
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/bg-hero_mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-resolution: 192dpi) {
  .main-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/bg-hero_mob@2x.jpg);
  }
}

/* ========Tablet======== */
@media screen and (min-width: 768px) {
  .main-hero {
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/bg-hero_tab.jpg);
  }
  @media screen and (min-resolution: 192dpi) {
    .main-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/bg-hero_tab@2x.jpg);
    }
  }
}

/* ========Desktop======== */
@media screen and (min-width: 1158px) {
  .main-hero {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/bg-hero_desk.jpg);
  }
  @media screen and (min-resolution: 192dpi) {
    .main-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/bg-hero_desk@2x.jpg);
    }
  }
}

.main-title {
  max-width: 216px;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  margin: 0 auto 72px;
}
/* ========Tablet======== */
@media screen and (min-width: 768px) {
  .main-title {
    max-width: 496px;
    font-size: 56px;
    margin: 0 auto 72px;
  }
}

/* ========Desktop======== */
@media screen and (min-width: 1158px) {
  .main-title {
    max-width: 496px;
    font-size: 56px;
    margin: 0 auto 48px;
  }
}

.order-service-button {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: var(--main-color-icon);
  border: none;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}

/* ========BENEFITS SECTION======== */
.benefits-section {
  margin: 0 auto;
  padding: 96px 0;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.benefit-list-icon {
  display: none;
  justify-content: center;
  align-items: center;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.benefit-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 8px;
}

.benefit-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.benefit-list-item:not(:last-child) .benefit-list-text {
  padding-bottom: 72px;
}

/* ========Tablet======== */
@media screen and (min-width: 768px) {
  .benefits-list {
    gap: 24px;
    padding: 0;
    list-style: none;
  }
  .benefit-list-item {
    width: calc((100% - 24px) / 2);
  }
  .benefit-list-title {
    text-align: left;
  }
  .benefit-list-item:not(:last-child) .benefit-list-text {
    padding-bottom: 0;
  }
}

/* ========Desktop======== */
@media screen and (min-width: 1158px) {
  .benefits-section {
    padding: 120px 0;
  }

  .benefits-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .benefit-list-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

  .benefit-list-item {
    width: calc((100% - 72px) / 4);
  }

  .benefit-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .benefit-list-text {
    padding-bottom: 0;
  }
}

/*------------------OUR TEAM SECTION------------------*/
.container .team-container {
  margin-left: 0 92px;
}

.our-team-section {
  padding: 96px 0;
  background: #f4f4fd;
}

.team-title {
  line-height: 1.11;
  text-align: center;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-text-color);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  flex-wrap: wrap;
  gap: 72px;
}

.team-card {
  width: 264px;
  height: 428px;
  display: flex;
  align-items: center;
  border-radius: 0 0 4px 4px;
  background-color: var(--main-background-color);
  line-height: 1.2;
  letter-spacing: 0.02em;
  flex-direction: column;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-list-overlay {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 0;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 8px;
}

.team-role {
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--secondary-text-color);
  margin: 0;
  margin-bottom: 8px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-svg {
  fill: #f4f4fd;
}

.team-social-icon {
  width: 40px;
  height: 40px;
}

.team-social-icon .team-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icon a:hover,
.team-social-icon a:focus {
  background-color: #404bbf;
}

/* ========Tablet======== */
@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    gap: 24px;
    padding-left: 0;
  }
  .team-card {
    margin-bottom: 64px;
  }
}

/* ========Desktop======== */
@media screen and (min-width: 1158px) {
  .our-team-section {
    padding: 120px 0;
  }
  .team-list {
    flex-wrap: nowrap;
  }
  .team-card {
    margin-bottom: 0;
  }
}

/*-----------OUR PORTFOLIO SECTION----------*/
.portfolio {
  padding: 96px 0;
}

.portfolio-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-text-color);
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  gap: 48px;
}

.project-card {
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 4px;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.project-card img {
  width: 100%;
}

.project-card:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-card-container {
  padding: 32px 16px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-top: none;
}

.project-card-content {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-bottom: 8px;
}

.project-card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transform: translateY(0%);
}

/* ========Tablet======== */
@media screen and (min-width: 768px) {
  .portfolio-list {
    gap: 24px;
  }
  .project-card {
    width: calc((100% - 24px) / 2);
  }
}

/* ========Desktop======== */
@media screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }
  .portfolio-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding: 0;
  }
  .project-card {
    width: 100%;
    height: 100%;
    object-fit: cover;
    width: calc((100% - 48px) / 3);

    border-radius: 4px;
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
  }

  .portfolio-list {
    gap: 0;
  }
}

/*----------------------PROJECT CARD OVERLAY-----------------------*/
.project-card__box {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: var(--tertiary-text-color);

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--tertiary-text-color);

  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: left;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card__box:hover .project-card__overlay {
  transform: translateY(0);
}

/*===========FOOTER SECTION============*/
.footer-page {
  background: var(--main-text-color);
  padding: 96px 0;
}

.footer-page .container {
  display: flex;
  flex-direction: column;
}

.footer-link {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.logo-accent-footer-span {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--tertiary-text-color);
}

.footer-sotial {
  display: flex;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  justify-content: center;
}

.footer-social-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-social-svg {
  fill: #f4f4fd;
}

.footer-social-icon {
  width: 40px;
  height: 40px;
}

.footer-social-icon .footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon a:hover,
.footer-social-icon a:focus {
  background-color: #31d0aa;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 72px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 72px;
}

.subscribe-text {
  display: flex;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  justify-content: center;
}
.subscribe-form {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
}

.subscribe-input {
  width: 264px;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.subscribe-input::placeholder {
  color: #ffffff;
}

.subscribe-input:focus {
  border-color: var(--main-color-icon);
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  font-weight: 500;
  line-height: 1.5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--main-color-icon);
  color: #fff;
  text-align: center;
  border: none;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}

.subscribe-icon {
  margin-left: 16px;
  fill: #fff;
}

/* ========Tablet======== */
@media screen and (min-width: 768px) {
  .footer-page .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin: 0 auto;
  }

  .subscribe-text {
    align-self: flex-start;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    margin: 0;
  }

  .subscribe-form {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 24px;
    width: 100%;
    max-width: 450px;
  }

  .subscribe-input {
    flex: 1 1 60%;
    min-width: 0;
    height: 40px;
  }

  .subscribe-button {
    flex: 1 1 35%;
    min-width: 0;
    height: 40px;
  }

  .footer-link {
    justify-content: flex-start;
  }

  .footer-top {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 24px;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;

    max-width: calc(264px + 264px + 24px);
  }

  .footer-sotial {
    justify-content: flex-start;
  }

  .footer-social-list {
    justify-content: flex-start;
  }

  .footer-logo,
  .footer-social {
    margin-bottom: 0;
  }

  .footer-logo {
    width: 100%;
  }

  .footer-social {
    width: 100%;
  }

  .subscribe-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
    max-width: calc(264px + 264px + 24px);
  }
}

/* ========Desktop======== */
@media screen and (min-width: 1158px) {
  .footer-page {
    padding: 100px 0;
  }
  .footer-page .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: row;
  }
  .footer-logo {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-width: 264px;
    margin-right: 80px;
  }
  .footer-text {
    max-width: 264px;
  }
  .footer-link {
    display: inline-block;
  }
  .footer-social {
    margin-right: 80px;
    justify-content: normal;
    margin-bottom: 0;
    width: auto;
  }
  .footer-social-list {
    justify-content: normal;
  }
  .subscribe-text {
    justify-content: normal;
  }
  .subscribe-form {
    width: 453px;
    justify-content: normal;
    flex-wrap: nowrap;
  }
  .footer-top {
    max-width: initial;
    justify-content: space-between;
    margin-bottom: 0;
  }
  .footer-social {
    min-width: initial;
  }
  .subscribe-container {
    max-width: initial;
    width: initial;
    margin-bottom: auto;
  }
}

/*-----------------------------MODAL OVERLAY-------------------------*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 9999;

  visibility: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  overflow: auto;
  height: 95%;
  max-height: 623px;
  padding: 72px 16px 24px 16px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ========Tablet======== */
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}

.modal-text {
  font-weight: 500;
  font-size: var(--main-font);
  line-height: var(--main-line-height);
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-label-input {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label-input:focus {
  border-color: var(--main-color-icon);
}

.wrapper-input-svg {
  position: relative;
  width: 100%;
}

.modal-form-wrapper {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-form-comment-wrapper {
  margin-bottom: 16px;
  width: 100%;
}

.label-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label-input:focus ~ .label-icon {
  fill: var(--main-color-icon);
}

.modal-label-input-message {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;

  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label-input-message:focus {
  border-color: var(--main-color-icon);
}

/*-------------------checkbox-------------------*/
.order-from-custom-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.order-form-policy-checkbox:checked
  + .order-form-policy-lable
  .order-from-custom-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.checkbox-icon {
  width: 16px;
  height: 16px;
}

.order-form-policy-wrapper {
  margin-bottom: 24px;
}

.order-form-policy-lable {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-policy-link {
  color: var(--main-color-icon);
  text-decoration: underline;
  padding-left: 0;
  white-space: nowrap;
}

.modal-btn {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  background-color: var(--main-color-icon);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--main-text-color-hover-focus);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-svg {
  fill: var(--main-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close:hover .modal-close-svg,
.modal-close:focus .modal-close-svg {
  fill: #ffffff;
}

/* ========Tablet======== */
@media screen and (min-width: 768px) {
  .checkbox-icon {
    width: 10px;
    height: 8px;
  }
}

/*-----------------------------OVERLAY MENU-------------------------*/
.heder-modal-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 9999;

  visibility: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.heder-modal-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  min-height: 640px;
  padding: 72px 16px 24px 16px;
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.heder-modal-menu-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 0;
  padding-bottom: 168px;
}

.heder-modal-menu-item {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.heder-modal-menu-link {
  display: inline-block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--main-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-modal-menu-social {
  display: flex;
  justify-content: flex-start;
}

.header-modal-menu-social-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding-top: 48px;
}

.heder-modal-contact-info {
  font-style: normal;
}

.heder-modal-contact_list {
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
  padding-left: 0;
}
.heder-modal-contact_link {
  display: inline-block;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.heder-modal-contact_link li:nth-child(1) .contact_link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
